@model MedicineStock.Models.MedicineType
<div class="card">
    <div class="card-body">
        <div class="productdetails">
            <ul class="product-bar">
                <li>
                    <h4>Mã chủng loại</h4>
                    <h6>@Html.DisplayFor(model => model.MedicineTypeId)</h6>
                </li>
                <li>
                    <h4>Tên</h4>
                    <h6>@Html.DisplayFor(model => model.Type)</h6>
                </li>
            </ul>
        </div>
    </div>
</div>