@model MedicineStock.Models.Permission
<div class="card">
    <div class="card-body">
        <div class="productdetails">
            <ul class="product-bar">
                <li>
                    <h4>Mã quyền</h4>
                    <h6>@Html.DisplayFor(model => model.PermissionId)</h6>
                </li>
                <li>
                    <h4>Tên quyền</h4>
                    <h6>@Html.DisplayFor(model => model.Name)</h6>
                </li>              
            </ul>
        </div>
    </div>
</div>