@model MedicineStock.Models.Account

@{
    ViewData["Title"] = "Details";
    ViewBag.Menu = "Account";
}

<h1>Details</h1>
<h6>Account</h6>
<hr />

@await Html.PartialAsync("_DetailsAccount", Model)
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>