@model MedicineStock.Models.Account

@{
    ViewData["Title"] = "Details";
    ViewBag.Menu = "Account";
}

<h1>Thông tin tài khoản</h1>
<hr />

@await Html.PartialAsync("_DetailsAccount", Model)
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId" class="btn btn-secondary">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-primary">Quay về danh sách</a>
</div>