@model MedicineStock.Models.Account

@{
    ViewData["Title"] = "Details";
    ViewBag.Menu = "Account";
}

<h1>Details</h1>

@await Html.PartialAsync("_DetailsAccount", Model)
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId" class="btn btn-cancel">Edit</a>
    <a asp-action="Index" class="btn btn-submit me-2">Back to List</a>
</div>