@model MedicineStock.Models.Permission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "Permission";
}

<h1>Details</h1>
<h6>Permission</h6>
@await Html.PartialAsync("_DetailsPermission", Model)
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PermissionId" class="btn btn-cancel">Edit</a> |
    <a asp-action="Index" class="btn btn-submit me-2">Back to List</a>
</div>
