@model MedicineStock.Models.ManufacturingBatch

@{
    ViewData["Title"] = "Create";
    ViewBag.Menu = "ManufacturingBatch";
}

<h1>Thêm mới</h1>

<h4>Lô thuốc</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Mã lô</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label">Nhà sản xuất</label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
                <a asp-controller="Manufacturers" asp-action="Create">Nhà sản xuất của bạn không ở đây? Thêm mới</a>
            </div>
            <div class="form-group">
                <label asp-for="MedicineId" class="control-label">Thuốc</label>
                <select asp-for="MedicineId" class ="form-control" asp-items="ViewBag.MedicineId"></select>
                <a asp-controller="Medicines" asp-action="Create">Thuốc của bạn không ở đây? Thêm mới</a>
                
            </div>
            <div class="form-group">
                <label asp-for="ImportDate" class="control-label">Ngày nhập</label>
                <input asp-for="ImportDate" class="form-control" id="datetime"/>
                <!-- auto set value to current date -->
                <script>
                    // Get current date and time
                    var now = new Date();
                    var datetime = now.toLocaleDateString();

                    // Insert date and time into the input field
                    document.getElementById("datetime").value = datetime;
                </script>
                <span asp-validation-for="ImportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label">Xuất xứ</label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label">Ngày hết hạn</label>
                <input asp-for="ExpiryDate" class="form-control" type="date"/>
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" min="1"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Chú thích</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Thêm mới</button>
                <button asp-action="Index" class="btn btn-primary">Quay về danh sách</button>
            </div>
        </form>
    </div>
</div>

