@model MedicineStock.Models.ManufacturingBatch

@{
    ViewData["Title"] = "Delete";
    ViewBag.Menu = "ManufacturingBatch";
}

<h1>Xoá</h1>

<h3>Bạn chắc chắn muốn xoá lô này chứ?</h3>

@await Html.PartialAsync("_DetailsManufacturingBatch", Model)
<form asp-action="Delete">
    <input type="hidden" asp-for="ManufacturingBatchId" />
    <button type="submit" class="btn btn-danger">Xoá</button>
    <button asp-action="Index" class="btn btn-primary">Quay về danh sách</button>
</form>
