@model MedicineStock.Models.ManufacturingBatch

@{
    ViewData["Title"] = "Details";
    ViewBag.Menu = "ManufacturingBatch";
}

<h1>Chi tiết</h1>
<h4>Lô</h4>
@await Html.PartialAsync("_DetailsManufacturingBatch", Model)
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ManufacturingBatchId" class="btn btn-secondary">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-primary">Quay về danh sách</a>
</div>
