@model MedicineStock.Models.Prescription
<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Chi tiết hoá đơn</h2>
    </div>
</div>
@await Html.PartialAsync("_DetailsInvoice", Model)

<a asp-action="Edit" asp-route-id="@Model?.PrescriptionId" class="btn btn-secondary">Chỉnh sửa</a>
<a asp-action="Index" class="btn btn-primary">Quay về danh sách</a>