@model MedicineStock.Models.Manufacturer

@{
    ViewData["Title"] = "Create";
    ViewBag.Menu = "Manufacturer";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Thêm nhà sản xuất</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên nhà sản xuất</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-submit me-2" id="submit-btn" />
                <a asp-action="Index" class="btn btn-cancel">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

