@model MedicineStock.Models.Manufacturer

@{
    ViewData["Title"] = "Delete";
    ViewBag.Menu = "Manufacturer";
}

<h1>Xoá</h1>
<h6>Bạn chắc chắn muốn xoá nhà sản xuất này chứ?</h6>
<hr />

@await Html.PartialAsync("_DetailsManufacturer", Model)
<form asp-action="Delete">
    <input type="hidden" asp-for="ManufacturerId" />
    <button type="submit" class="btn btn-danger">Xoá</button>
    <button asp-action="Index" class="btn btn-primary">Quay về danh sách</button>
</form>

