@model MedicineStock.Models.Medicine

@{
    ViewData["Title"] = "Delete";
    ViewBag.Menu = "Medicine";
}

<h1>Delete</h1>

<h3>Bạn chắc chắn muốn xoá thuốc này chứ?</h3>
<hr />

@await Html.PartialAsync("_DetailsMedicine", Model)
<form asp-action="Delete">
    <input type="hidden" asp-for="MedicineId" />
    <button type="submit" class="btn btn-danger">Xoá</button>
    <button asp-action="Index" class="btn btn-primary">Quay về danh sách</button>
</form>

