@model MedicineStock.Models.Medicine

@{
    ViewData["Title"] = "Delete";
    ViewBag.Menu = "Medicine";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />

@await Html.PartialAsync("_DetailsMedicine", Model)
<form asp-action="Delete">
    <input type="hidden" asp-for="MedicineId" />
    <button type="submit" class="btn btn-danger">Remove</button>
    <button asp-action="Index" class="btn btn-primary">Back to List</button>
</form>

