@model MedicineStock.Models.Medicine

@{
    ViewData["Title"] = "Details";
    ViewBag.Menu = "Medicine";
}

<h1>Thông tin chi tiết</h1>
<h6>Thuốc</h6>
<hr/>

@await Html.PartialAsync("_DetailsMedicine", Model)

<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicineId" class="btn btn-secondary">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-primary">Quay về danh sách</a>

</div>
