@model MedicineStock.Models.Medicine

@{
    ViewData["Title"] = "Edit";
    ViewBag.Menu = "Medicine";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Medicines Edit</h2>
        <h6>Edit your products</h6>
    </div>
</div>

<!--
    <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicineId" />
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantiy" class="control-label"></label>
                <input asp-for="Quantiy" class="form-control" />
                <span asp-validation-for="Quantiy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">                
                <input type="hidden" asp-for="MedicineId" />
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input type="text" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="MedicineTypeId">Medicine Type</label>
                        <select asp-for="MedicineTypeId" class="form-control" asp-items="ViewBag.MedicineTypeId"></select>
                        <a asp-controller="MedicineTypes" asp-action="Create">Is your medicine type not here? Create new</a>
                        <span asp-validation-for="MedicineTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="number">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button asp-action="Index" class="btn btn-secondary">Back to List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


