@model MedicineStock.Models.MedicineType

@{
    ViewData["Title"] = "Delete";
    ViewBag.Menu = "MedicineType";
}

<h1>Delete</h1>
<h6>Medicine Type</h6>
<hr />
@await Html.PartialAsync("_DetailsMedicineType", Model)
<form asp-action="Delete">
    <input type="hidden" asp-for="MedicineTypeId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <button asp-action="Index" class="btn btn-primary">Back to index</button>
</form>